<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/public/flow.js" defer></script>
</head>
<body>
    <h3>동영상 편집 Sample</h3>
    <input type="file" id="file" />
    <div id="videoArea"></div>
    <div id="thumbnailArea"></div>
    <div id="timelineArea"></div>
    <div id="seekBarArea"></div>
</body>
</html>